<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars assignment</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
        <div class="container">
                <div class="row">
                    <div class="col-md-12 jumbotron text-center">
                        <h1>Mission to mars</h1>
                        <a role="button" href="/scarpe" class="btn btn-primary text-center">Scrape New Data</a>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <h2>Latest Mars News</h2>
                        </div>
                </div>

        </div>

                    
    
</body>
